/* header section */
body{
    width: 80%;
    margin: auto;
}
header{
    background-image: url('../images/Banner\ Image.png');
    background-repeat: no-repeat;
    height: 600px; 
    width: 1320px;

}
.header h3{
    color: #fff;
    text-align: center;
    font-size: 32px;
padding-left: 32px;
padding-right: 40px;
}
.header h1{
   
    text-align: center;
    
    color: #fff;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
 
}
/* main section */
.discount{
    text-align: center;
    
}
.discount h2{
    margin-top: 120px;
    color: red;
    font-size: 90px;
    font-weight: 900;
}
.discount p{
    margin-top: 48px;
    font-size: 24px;
    font-weight: 500;
    color: red;
}
.discount h3{
    
    font-size: 48px;
    font-weight: 700;
}
.discount img{
    width: 800px;
    height: 500px;
}